@charset "UTF-8";

/*
# intranetSenaiCSSNew
 

 # Paleta de Cores
 # {#A9C2D9 Azul Claro}
 # {#0367A6 Azul Escuro}
 # {#5A98BF Azul Meio claro}
 # {#0378A6 Azul Meio Escuro}
 # {#F2F2F2 Branco Creme}
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: 1em;
    background-color: #A9C2D9;
    height: 99vh;
    width: 99vw;
}

header{
    background-color: #5A98BF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1{
    /*border: 1px dotted black;*/
    flex: 0 0 450px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.527);
}

header > nav{
    /*border: 1px dotted black;*/

    display: flex;
    flex-flow: row nowrap;
    
}

header > nav > a{
    background-color: #F2F2F2;
    color: #0378A6;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center ;
    
}

header > nav > a:hover{
    background-color: #0378A6;
    color: #F2F2F2;
    transition: background-color 0.2s;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
}

header > h1#titulo{
    border: 1px dotted black;
    flex: 0 1 350px;
    font-size: 1.5rem;
    justify-content: center;
}

header > nav#logo{
    border: 1px dotted black;
    flex: 1 1 100px;
    justify-content: flex-end;   
}

header > nav#menu{
    border: 1px dotted black;
    flex: 1 1 300px;
}

.menu{
    list-style: none;
    border: 1px solid #A9C2D9;
    float: left;
}
.menu li{
    position: relative;
    float: left;
    border-right: 1px solid #0367A6;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
    color:#fff;
    background:#333;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }

main{
    background: #0367A6;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.466);
}

